name: Open a release PR
on:
  workflow_dispatch:
    inputs:
      crate:
        description: Crate to release
        required: true
        type: choice
        options:
          - cargo-release-pr-test-one
          - cargo-release-pr-test-two
          - root-package
      version:
        description: Version to release
        required: true
        type: string

jobs:
  make-release-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Install cargo-release
        uses: taiki-e/install-action@v1
        with:
          tool: cargo-release

      - uses: actions/checkout@v3
      - uses: cargo-bins/release-pr@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ inputs.version }}
          crate-name: ${{ inputs.crate }}
          check-semver: true
          #pr-template-file: .github/release-pr-template.ejs
          pr-template: "It's a release bro (<%= version.actual %>)"
          pr-title: "Release <%= crate.name %> <%= version.actual %> (was <%= version.previous %>)"
          pr-release-notes: true
          pr-merge-strategy: bors
